.swiper {
    width: 100%;
    height: 100%;
  }
  @media screen and (min-width: 768px) {
    .swiper {
      width: 80%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .swiper {
      width: 50%;
    }
  }
  
  
  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
  }
  
  .swiper-slide img {
    display: block;
    width: 130px;
    height: 100px;
    object-fit: cover;
    border: 3px solid gray;
    cursor: pointer;
    border-radius: 10%;
  }
  .swiper-slide img:hover{
    border: 6px solid gray;
  }
  .swiper-slide img:active{
    border: 6px solid black;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    color: rgb(209, 37, 57); 
  }
  